body {margin: 60px; background-color: #e8f4f9;}
.ContentDarkBlueBox{background-color: #9ab7ab; padding: 30px;}
h1 {color: grey; font-size: 70px; font-family: 'Julius Sans One', sans-serif;}
.maintext {color:black; font-size: 16px; font-family: sans-serif;}
.GreyBorder {border-color: grey; border-width: 10px; border-style: solid; border-radius: 5px;}
.List {font-size: 12px;}